body {
    margin : 0px;
    padding: 0px;
    background: url(cover.jpg);
    background-size: cover;
    background-position: top;
    font-family: sans-serif;
}
.login-box {
    width: 320px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1 {
    margin : 0px;
    padding: 0px 0px 40px 0px;
    text-align: center;
    font-size: 22px;

}
.login-box label {
    margin: 0px;
    padding: 0px;
    font-weight: bold;
}
.login-box input, button {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.login-box input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 14px;
}
.login-box button {
    height: 40px;
    border: none;
    outline: none;
    background-color: #3dbc93;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    font-weight: 600;
}
.login-box button:hover {
    cursor: pointer;
    background-color: #3da893;
}
a {
    text-decoration: none;
    color: #3da893;
    font-size: 14px;
}